<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sw2.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPlatillosServlet</servlet-name>
        <servlet-class>com.sw2.servlets.ListarPlatillosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSessionServlet</servlet-name>
        <servlet-class>com.sw2.servlets.AddSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <servlet-class>com.sw2.servlets.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarPlatilloServlet</servlet-name>
        <servlet-class>com.sw2.servlets.IngresarPlatilloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestionPlatillo</servlet-name>
        <servlet-class>com.sw2.servlets.gestionPlatillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginfbservlet</servlet-name>
        <servlet-class>com.sw2.servlets.loginfbservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>platilloPost</servlet-name>
        <servlet-class>com.sw2.servlets.platilloPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorePassServlet</servlet-name>
        <servlet-class>com.sw2.servlets.RestorePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioPassServlet</servlet-name>
        <servlet-class>com.sw2.servlets.CambioPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexfb</servlet-name>
        <servlet-class>com.sw2.servlets.indexfb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrofbServlet</servlet-name>
        <servlet-class>com.sw2.servlets.RegistrofbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postearServlet</servlet-name>
        <servlet-class>com.sw2.servlets.postearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestionPlatillosPosteados</servlet-name>
        <servlet-class>com.sw2.servlets.gestionPlatillosPosteados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPlatillosServlet</servlet-name>
        <url-pattern>/ListarPlatillosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSessionServlet</servlet-name>
        <url-pattern>/AddSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <url-pattern>/RegistrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarPlatilloServlet</servlet-name>
        <url-pattern>/IngresarPlatilloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestionPlatillo</servlet-name>
        <url-pattern>/gestionPlatillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginfbservlet</servlet-name>
        <url-pattern>/loginfbservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>platilloPost</servlet-name>
        <url-pattern>/platilloPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorePassServlet</servlet-name>
        <url-pattern>/RestorePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioPassServlet</servlet-name>
        <url-pattern>/CambioPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexfb</servlet-name>
        <url-pattern>/indexfb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrofbServlet</servlet-name>
        <url-pattern>/RegistrofbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postearServlet</servlet-name>
        <url-pattern>/postearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestionPlatillosPosteados</servlet-name>
        <url-pattern>/gestionPlatillosPosteados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
